spring.application.name=user
server.port=8081

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=

springdoc.swagger-ui.path=

spring.rabbitmq.addresses=
broker.queue.email.name=

management.endpoint.beans.cache.time-to-live=10s
management.endpoints.web.base-path=/api
management.endpoints.web.path-mapping.health=health