spring.application.name=user
server.port=8081

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=

springdoc.swagger-ui.path=

spring.rabbitmq.addresses=
broker.queue.email.name=